#colorbox, #cboxOverlay, #cboxWrapper {
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	overflow:hidden
}
#cboxOverlay {
	position:fixed;
	width:100%;
	height:100%
}
#cboxMiddleLeft, #cboxBottomLeft {
	clear:left
}
#cboxContent {
	position:relative
}
#cboxLoadedContent {
	overflow:auto;
	-webkit-overflow-scrolling:touch
}
#cboxTitle {
	margin:0
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor:pointer
}
.cboxPhoto {
	float:left;
	margin:auto;
	border:0;
	display:block;
	max-width:none
}
.cboxIframe {
	width:100%;
	height:100%;
	display:block;
	border:0
}
#colorbox, #cboxContent, #cboxLoadedContent {
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box
}
#cboxOverlay {
	background:#000
}
#cboxContent {
	margin-top:20px
}
.cboxIframe {
	background:#fff
}
#cboxError {
	padding:50px;
	border:1px solid #ccc
}
#cboxLoadedContent {
	border:5px solid #000;
	background:#fff
}
#cboxTitle {
	position:absolute;
	top:-20px;
	left:0;
	color:#ccc
}
#cboxCurrent {
	position:absolute;
	top:-20px;
	right:0px;
	color:#ccc
}
#cboxSlideshow {
	position:absolute;
	top:-20px;
	right:90px;
	color:#fff
}
#cboxPrevious {
	position:absolute;
	top:50%;
	left:5px;
	margin-top:-32px;
	background:url(../img/colorbox/controls.png) no-repeat top left;
	width:28px;
	height:65px;
	text-indent:-9999px
}
#cboxPrevious:hover {
	background-position:bottom left
}
#cboxNext {
	position:absolute;
	top:50%;
	right:5px;
	margin-top:-32px;
	background:url(../img/colorbox/controls.png) no-repeat top right;
	width:28px;
	height:65px;
	text-indent:-9999px
}
#cboxNext:hover {
	background-position:bottom right
}
#cboxLoadingOverlay {
	background:#000
}
#cboxLoadingGraphic {
	background:url(../img/colorbox/loading.gif) no-repeat center center
}
#cboxClose {
	position:absolute;
	top:5px;
	right:5px;
	display:block;
	background:url(../img/colorbox/controls.png) no-repeat top center;
	width:38px;
	height:19px;
	text-indent:-9999px
}
#cboxClose:hover {
	background-position:bottom center
}
#special-sectionOverview {
	position:relative;
	width:100%;
	min-width:960px;
	min-height:600px;
	background:#e5e5e5;
	font-family:'DejaVu Sans', "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-ms-font-smoothing:antialiased;
	-o-font-smoothing:antialiased
}
#special-sectionOverview article, #special-sectionOverview aside, #special-sectionOverview details, #special-sectionOverview figcaption, #special-sectionOverview figure, #special-sectionOverview footer, #special-sectionOverview header, #special-sectionOverview hgroup, #special-sectionOverview main, #special-sectionOverview nav, #special-sectionOverview section, #special-sectionOverview summary {
	display:block
}
#special-sectionOverview audio, #special-sectionOverview canvas, #special-sectionOverview video {
	display:inline-block;
*display:inline;
*zoom:1
}
#special-sectionOverview audio:not([controls]) {
	display:none;
	height:0
}
#special-sectionOverview [hidden] {
	display:none
}
#special-sectionOverview html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
#special-sectionOverview html, #special-sectionOverview button, #special-sectionOverview input, #special-sectionOverview select, #special-sectionOverview textarea {
	font-family:sans-serif
}
#special-sectionOverview body {
	margin:0
}
#special-sectionOverview a:focus {
	outline:thin dotted
}
#special-sectionOverview a:active, #special-sectionOverview a:hover {
	outline:0
}
#special-sectionOverview h1 {
	font-size:2em;
	margin:0.67em 0
}
#special-sectionOverview h2 {
	font-size:1.5em;
	margin:0.83em 0
}
#special-sectionOverview h3 {
	font-size:1.17em;
	margin:1em 0
}
#special-sectionOverview h4 {
	font-size:1em;
	margin:1.33em 0
}
#special-sectionOverview h5 {
	font-size:0.83em;
	margin:1.67em 0
}
#special-sectionOverview h6 {
	font-size:0.67em;
	margin:2.33em 0
}
#special-sectionOverview abbr[title] {
	border-bottom:1px dotted
}
#special-sectionOverview b, #special-sectionOverview strong {
	font-weight:bold
}
#special-sectionOverview blockquote {
	margin:1em 40px
}
#special-sectionOverview dfn {
	font-style:italic
}
#special-sectionOverview hr {
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0
}
#special-sectionOverview mark {
	background:#ff0;
	color:#000
}
#special-sectionOverview p, #special-sectionOverview pre {
	margin:1em 0
}
#special-sectionOverview code, #special-sectionOverview kbd, #special-sectionOverview pre, #special-sectionOverview samp {
	font-family:monospace, serif;
	_font-family:'courier new', monospace;
	font-size:1em
}
#special-sectionOverview pre {
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word
}
#special-sectionOverview q {
	quotes:none
}
#special-sectionOverview q:before, #special-sectionOverview q:after {
	content:'';
	content:none
}
#special-sectionOverview small {
	font-size:80%
}
#special-sectionOverview sub, #special-sectionOverview sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
#special-sectionOverview sup {
	top:-0.5em
}
#special-sectionOverview sub {
	bottom:-0.25em
}
#special-sectionOverview dl, #special-sectionOverview menu, #special-sectionOverview ol, #special-sectionOverview ul {
	margin:1em 0
}
#special-sectionOverview dd {
	margin:0 0 0 40px
}
#special-sectionOverview menu, #special-sectionOverview ol, #special-sectionOverview ul {
	padding:0 0 0 40px
}
#special-sectionOverview nav ul, #special-sectionOverview nav ol {
	list-style:none;
	list-style-image:none
}
#special-sectionOverview img {
	border:0;
	-ms-interpolation-mode:bicubic
}
#special-sectionOverview svg:not(:root) {
	overflow:hidden
}
#special-sectionOverview figure {
	margin:0
}
#special-sectionOverview form {
	margin:0
}
#special-sectionOverview fieldset {
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:0.35em 0.625em 0.75em
}
#special-sectionOverview legend {
	border:0;
	padding:0;
	white-space:normal;
*margin-left:-7px
}
#special-sectionOverview button, #special-sectionOverview input, #special-sectionOverview select, #special-sectionOverview textarea {
	font-size:100%;
	margin:0;
	vertical-align:baseline;
*vertical-align:middle
}
#special-sectionOverview button, #special-sectionOverview input {
	line-height:normal
}
#special-sectionOverview button, #special-sectionOverview select {
	text-transform:none
}
#special-sectionOverview button, #special-sectionOverview html input[type="button"], #special-sectionOverview input[type="reset"], #special-sectionOverview input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer;
*overflow:visible
}
#special-sectionOverview button[disabled], #special-sectionOverview html input[disabled] {
	cursor:default
}
#special-sectionOverview input[type="checkbox"], #special-sectionOverview input[type="radio"] {
	box-sizing:border-box;
	padding:0;
*height:13px;
*width:13px
}
#special-sectionOverview input[type="search"] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}
#special-sectionOverview input[type="search"]::-webkit-search-cancel-button, #special-sectionOverview input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}
#special-sectionOverview button::-moz-focus-inner, #special-sectionOverview input::-moz-focus-inner {
border:0;
padding:0
}
#special-sectionOverview textarea {
	overflow:auto;
	vertical-align:top
}
#special-sectionOverview table {
	border-collapse:collapse;
	border-spacing:0
}
#special-sectionOverview html {
	margin:0;
	padding:0;
	border:0
}
#special-sectionOverview .bp-reset-element, #special-sectionOverview body, #special-sectionOverview h1, #special-sectionOverview h2, #special-sectionOverview h3, #special-sectionOverview h4, #special-sectionOverview h5, #special-sectionOverview h6, #special-sectionOverview article, #special-sectionOverview aside, #special-sectionOverview details, #special-sectionOverview figcaption, #special-sectionOverview figure, #special-sectionOverview footer, #special-sectionOverview header, #special-sectionOverview hgroup, #special-sectionOverview menu, #special-sectionOverview nav, #special-sectionOverview section, #special-sectionOverview summary, #special-sectionOverview blockquote, #special-sectionOverview q, #special-sectionOverview th, #special-sectionOverview td, #special-sectionOverview caption, #special-sectionOverview table, #special-sectionOverview div, #special-sectionOverview span, #special-sectionOverview object, #special-sectionOverview iframe, #special-sectionOverview p, #special-sectionOverview pre, #special-sectionOverview a, #special-sectionOverview abbr, #special-sectionOverview acronym, #special-sectionOverview address, #special-sectionOverview code, #special-sectionOverview del, #special-sectionOverview dfn, #special-sectionOverview em, #special-sectionOverview img, #special-sectionOverview dl, #special-sectionOverview dt, #special-sectionOverview dd, #special-sectionOverview ol, #special-sectionOverview ul, #special-sectionOverview li, #special-sectionOverview fieldset, #special-sectionOverview form, #special-sectionOverview label, #special-sectionOverview legend, #special-sectionOverview caption, #special-sectionOverview tbody, #special-sectionOverview tfoot, #special-sectionOverview thead, #special-sectionOverview tr {
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline
}
#special-sectionOverview article, #special-sectionOverview aside, #special-sectionOverview details, #special-sectionOverview figcaption, #special-sectionOverview figure, #special-sectionOverview footer, #special-sectionOverview header, #special-sectionOverview hgroup, #special-sectionOverview menu, #special-sectionOverview nav, #special-sectionOverview section, #special-sectionOverview summary {
	display:block
}
#special-sectionOverview blockquote, #special-sectionOverview q {
	quotes:"" ""
}
#special-sectionOverview blockquote:before, #special-sectionOverview blockquote:after, #special-sectionOverview q:before, #special-sectionOverview q:after {
	content:""
}
#special-sectionOverview th, #special-sectionOverview td, #special-sectionOverview caption {
	float:none !important;
	text-align:left;
	font-weight:normal;
	vertical-align:middle
}
#special-sectionOverview table {
	border-collapse:separate;
	border-spacing:0;
	vertical-align:middle
}
#special-sectionOverview a img {
	border:none
}
#special-sectionOverview a:focus {
	outline:0
}
#special-sectionOverview a>img {
	border:0
}
#special-sectionOverview a {
	color:#4e4e4e
}
#special-sectionOverview a figure {
	display:block;
	opacity:0;
	height:0;
	position:absolute;
	top:0;
	left:50%;
	-webkit-transition-property:opacity, height, top;
	-moz-transition-property:opacity, height, top;
	-o-transition-property:opacity, height, top;
	transition-property:opacity height top;
	-webkit-transition-duration:0s;
	-moz-transition-duration:0s;
	-o-transition-duration:0s;
	transition-duration:0s;
	-webkit-transition-timing-function:swing;
	-moz-transition-timing-function:swing;
	-o-transition-timing-function:swing;
	transition-timing-function:swing;
	-webkit-transition-delay:0s;
	-moz-transition-delay:0s;
	-o-transition-delay:0s;
	transition-delay:0s
}
#special-sectionOverview a:hover {
	color:#0b3a67
}
#special-sectionOverview a:hover figure {
	opacity:1;
	-webkit-transition-property:opacity, color;
	-moz-transition-property:opacity, color;
	-o-transition-property:opacity, color;
	transition-property:opacity color;
	-webkit-transition-duration:0.3s;
	-moz-transition-duration:0.3s;
	-o-transition-duration:0.3s;
	transition-duration:0.3s
}
#special-sectionOverview .gotop {
	position:absolute;
	right:0;
	bottom:20px
}
#special-sectionOverview {
	background:none;
/*	height:5560px;*/
	padding-bottom:50px
}
#special-sectionOverview img {
	max-width:none
}
#special-sectionOverview #wrap {
	top:0;
	left:0;
	position:absolute;
	width:100%
}
#special-sectionOverview .page-container {
	position:relative;
	width:100%;
	height:auto
}

/*==main menu==*/
#special-sectionOverview #main-menu {
	position:fixed;
	top:25%;
	left:0;
	z-index:10;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	opacity:0.9
}
#special-sectionOverview #main-menu ul li {
	position:relative
}
#special-sectionOverview #main-menu ul li a {
	border-bottom:1px solid #e8e8e8;
	font-size:18px;
	font-family:"Lato";
	background:#fff;
	overflow:hidden;
*zoom:1;
filter:progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2');
	background-image:-webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
	background-image:-webkit-linear-gradient(left, #ffffff, #f2f2f2);
	background-image:-moz-linear-gradient(left, #ffffff, #f2f2f2);
	background-image:-o-linear-gradient(left, #ffffff, #f2f2f2);
	background-image:linear-gradient(left, #ffffff, #f2f2f2);
	-webkit-transition-property:letters-pacing, padding, font-size;
	-moz-transition-property:letters-pacing, padding, font-size;
	-o-transition-property:letters-pacing, padding, font-size;
	transition-property:letters-pacing padding font-size;
	-webkit-transition-duration:0.2s;
	-moz-transition-duration:0.2s;
	-o-transition-duration:0.2s;
	transition-duration:0.2s;
	-webkit-transition-timing-function:ease-out;
	-moz-transition-timing-function:ease-out;
	-o-transition-timing-function:ease-out;
	transition-timing-function:ease-out;
	height:51px;
	display:block;
	padding-left:45px;
	line-height:50px;
	color:transparent;
	letter-spacing:-18px;
	text-indent:0;
	width:0;
	font-size:0
}
#special-sectionOverview #main-menu ul li a .icon {
	z-index:11;
	top:0;
	left:0;
	display:block;
	position:absolute;
	width:45px;
	height:100%;
	margin-right:15px;
	background:url(../img/common/nav/main-nav-bg.png) no-repeat
}
#special-sectionOverview #main-menu ul li a:hover {
	letter-spacing:0;
	font-size:18px;
	padding-right:15px;
	padding-left:55px;
	width:auto;
	color:#2679b5
}
#special-sectionOverview #main-menu ul li a:hover {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px -1px;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px -1px;
	box-shadow:rgba(0,0,0,0.2) 0 1px -1px
}
#special-sectionOverview #main-menu ul li.m1 a {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px
}
#special-sectionOverview #main-menu ul li.m1 a:hover {
	width:0;
	padding-right:0;
	font-size:0
}
#special-sectionOverview #main-menu ul li.m1 a .icon {
	background-position:0 0
}
#special-sectionOverview #main-menu ul li.m1.on .icon, #special-sectionOverview #main-menu ul li.m1:hover .icon {
	background-position:-45px 0
}
#special-sectionOverview #main-menu ul li.m2 a .icon {
	background-position:0 -51px
}
#special-sectionOverview #main-menu ul li.m2.on .icon, #special-sectionOverview #main-menu ul li.m2:hover .icon {
	background-position:-45px -51px
}
#special-sectionOverview #main-menu ul li.m3 a .icon {
	background-position:0 -103px
}
#special-sectionOverview #main-menu ul li.m3.on .icon, #special-sectionOverview #main-menu ul li.m3:hover .icon {
	background-position:-45px -103px
}
#special-sectionOverview #main-menu ul li.m4 a .icon {
	background-position:0 -155px
}
#special-sectionOverview #main-menu ul li.m4.on .icon, #special-sectionOverview #main-menu ul li.m4:hover .icon {
	background-position:-45px -155px
}
#special-sectionOverview #main-menu ul li.m5 a .icon {
	background-position:0 -207px
}
#special-sectionOverview #main-menu ul li.m5.on .icon, #special-sectionOverview #main-menu ul li.m5:hover .icon {
	background-position:-45px -207px
}
#special-sectionOverview #main-menu ul li.m6 a .icon {
	background-position:0 -259px
}
#special-sectionOverview #main-menu ul li.m6.on .icon, #special-sectionOverview #main-menu ul li.m6:hover .icon {
	background-position:-45px -259px
}

#special-sectionOverview #main-menu ul li.m7 a .icon {
	background-position:0 -311px
}
#special-sectionOverview #main-menu ul li.m7.on .icon, #special-sectionOverview #main-menu ul li.m7:hover .icon {
	background-position:-45px -311px
}

#special-sectionOverview #main-menu ul li.m8 a {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px -1px;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px -1px;
	box-shadow:rgba(0,0,0,0.2) 0 1px -1px;
}
#special-sectionOverview #main-menu ul li.m8 a .icon {
	background-position:0 -362px;
}
#special-sectionOverview #main-menu ul li.m8.on .icon, #special-sectionOverview #main-menu ul li.m8:hover .icon {
	background-position:-45px -362px;
}


/*==special-sectionOverview==*/

#special-sectionOverview .page .info {
	position:absolute
}
#special-sectionOverview .page .info ul li {
	float:left;
	display:block;
	width:150px;
	margin:0 20px;
	line-height:normal;
	font-family:"Lato";
	color:#ffeede
}
#special-sectionOverview .page .info ul li .item {
	font-size:25px;
	line-height:40px;
	border-bottom:1px solid #ffeede;
	display:block;
	width:100%;
	text-indent:5px
}
#special-sectionOverview .page .info ul li .text {
	font-size:20px;
	display:block
}
#special-sectionOverview .page .info ul li .text span {
	font-size:65px;
	margin-right:8px;
	letter-spacing:-4px
}
#special-sectionOverview .page .background {
	left:0;
	width:100%;
	height:100%;
	position:absolute;
	-webkit-transition-property:top;
	-moz-transition-property:top;
	-o-transition-property:top;
	transition-property:top;
	-webkit-transition-delay:0.55s;
	-moz-transition-delay:0.55s;
	-o-transition-delay:0.55s;
	transition-delay:0.55s;
	-webkit-transition-duration:0s;
	-moz-transition-duration:0s;
	-o-transition-duration:0s;
	transition-duration:0s;
	-webkit-transition-timing-function:ease-out;
	-moz-transition-timing-function:ease-out;
	-o-transition-timing-function:ease-out;
	transition-timing-function:ease-out
}
#special-sectionOverview .page .background .bg {
	width:100%;
	position:absolute;
	left:0;
	top:0;
	text-align:center;
	opacity:0;
	height:100%;
	-webkit-transition-property:opacity;
	-moz-transition-property:opacity;
	-o-transition-property:opacity;
	transition-property:opacity;
	-webkit-transition-delay:0s;
	-moz-transition-delay:0s;
	-o-transition-delay:0s;
	transition-delay:0s;
	-webkit-transition-duration:0.55s;
	-moz-transition-duration:0.55s;
	-o-transition-duration:0.55s;
	transition-duration:0.55s;
	-webkit-transition-timing-function:ease-out;
	-moz-transition-timing-function:ease-out;
	-o-transition-timing-function:ease-out;
	transition-timing-function:ease-out
}
#special-sectionOverview .page .background .bg.active {
	z-index:0;
	opacity:1
}

#special-sectionOverview .page .content {
	overflow:hidden;
	width:100%;
	height:700px;
	position:relative;
	float:left
}
#special-sectionOverview .page .content .background {
	left:0;
	width:100%;
	height:100%;
	position:absolute
}
#special-sectionOverview .page .content hgroup {
	position:absolute
}
#special-sectionOverview .page .content p {
	font-family:"Helvetica", "Arial", "verdana";
	/*font-size:19px;*/
	line-height:25px;
	padding-left:5px;
	color:inherit
}


